@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{ /*enconder a barra de rolagem*/
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block; /*colocando o a (Acesse) em baixo da imagem */
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    background-color: red;
}