@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;    
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}

main {
    position: relative;
    height: 100vh;
    /*background-color: green;*/
}

section#telefone{
   
    height: 627px;
    width: 311px;
    /* background-color: blue; */
    background: url('../imagens/frame-iphone.png') no-repeat;




    position: absolute; /*para poder centralizar atras do main*/
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%); /*- metade p esquerda e pra cima*/

}

iframe#tela{
    position: relative; /*poder deslocar a imagem em cima de outra*/
    top: 80px; /*1º posiciona em relação ao celular*/
    left: 22px; /*1º posiciona em relação ao celular*/
    width: 267px; /*2º alinha altura e comprimento em relação ao celular*/
    height: 471px; /*2º alinha altura e comprimento em relação ao celular*/


}

section#redes-sociais > a > img {
    width: 50px; /*Como é um quadrado vc não precisa colocar pra diminuir a altura pois ja vai automaticamente*/
    margin: 10px; /*o padding tbm funcionaria*/
    border-radius: 50%; /*Deixar redondo os icones*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425) ;
    box-sizing: border-box; /*a caixa fazer parte do conteudo e não mexer todos os icones quando passar o mouse em cima*/
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.556);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.603);
    transition: transform .3s, border .5s; /*temorizar*/
    
}